﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oliocracy</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
       
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WSDLLC Chi-Oligopoly</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Play Chi-Oligopoly</a></li>
                    <li><a href="#aboutus" onclick="javascript:alert('Made By Alexander Andrew Wood. &copy; Wooden Software Development LLC.');">About Us</a></li>>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
     
       
    </div>

    <environment include="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/js/chicagoedition.js" type="text/javascript"></script>    
        <script src="~/js/ai.js" type="text/javascript"></script>
        <script src="~/js/monopoly.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/js/localstorage.js"></script>
        <script type="text/javascript" src="~/js/monopolyextensions.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery.js" type="text/javascript"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/chicagoedition.js" type="text/javascript"></script>    
        <script src="~/js/ai.js" type="text/javascript"></script>
        <script src="~/js/monopoly.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/js/localstorage.js"></script>
        <script type="text/javascript" src="~/js/monopolyextensions.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
