﻿
    <div id="popupbackground"></div>
    <div id="popupwrap">
        <div id="popup">
            <div style="position: relative;">
                <!-- <img id="popupclose" src="Images/close.png" title="Close" alt="x" onclick="hide('popupbackground'); hide('popupwrap');" /> -->
                <div id="popuptext"></div>
                <div id="popupdrag"></div>
            </div>
        </div>
    </div>

    <div id="statsbackground"></div>
    <div id="statswrap">
        <div id="stats">
            <div style="position: relative;">
                <img id="statsclose" src="/images/close.png" width="50" height="50" title="Close" alt="x" />
                <div id="statstext"></div>
                <div id="statsdrag"></div>
            </div>
        </div>
    </div>

    <p id="noscript">
        Note: This page will not function without JavaScript.
    </p>

    <div id="refresh">
        Refresh this page to start a new game.
    </div>

    <!-- <div id="enlarge"></div> -->

    <div id="deed">
        <div id="deed-normal" style="display: none;">
            <div id="deed-header">
                <div style="margin: 5px; font-size: 11px;">T I T L E&nbsp;&nbsp;D E E D</div>
                <div id="deed-name"></div>
            </div>
            <table id="deed-table">
                <tr>
                    <td colspan="2">
                        RENT&nbsp;$<span id="deed-baserent">12</span>.
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">With 1 House</td>
                    <td style="text-align: right;">$&nbsp;&nbsp;&nbsp;<span id="deed-rent1">60</span>.</td>
                </tr>
                <tr>
                    <td style="text-align: left;">With 2 Houses</td>
                    <td style="text-align: right;"><span id="deed-rent2">180</span>.</td>
                </tr>
                <tr>
                    <td style="text-align: left;">With 3 Houses</td>
                    <td style="text-align: right;"><span id="deed-rent3">500</span>.</td>
                </tr>
                <tr>
                    <td style="text-align: left;">With 4 Houses</td>
                    <td style="text-align: right;"><span id="deed-rent4">700</span>.</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="margin-bottom: 8px;">With HOTEL $<span id="deed-rent5">900</span>.</div>
                        <div>Mortgage Value $<span id="deed-mortgage">80</span>.</div>
                        <div>Houses cost $<span id="deed-houseprice">100</span>. each</div>
                        <div>Hotels, $<span id="deed-hotelprice">100</span>. plus 4 houses</div>
                        <div style="font-size: 9px; font-style: italic; margin-top: 5px;">If a player owns ALL the Lots of any Color-Group, the rent is Doubled on Unimproved Lots in that group.</div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="deed-mortgaged">
            <div id="deed-mortgaged-name"></div>
            <p>&bull;</p>
            <div>MORTGAGED</div>
            <div> for $<span id="deed-mortgaged-mortgage">80</span></div>
            <p>&bull;</p>
            <div style="font-style: italic; font-size: 13px; margin: 10px;">Card must be turned this side up if property is mortgaged</div>
        </div>

        <div id="deed-special">
            <div id="deed-special-name"></div>
            <div id="deed-special-text"></div>
            <div id="deed-special-footer">
                Mortgage Value
                <span style="float: right;">$<span id="deed-special-mortgage">100</span>.</span>
            </div>
        </div>
    </div>

    <table id="board">
        <tr>
            <td class="cell board-corner" id="cell20"></td>
            <td class="cell board-top" id="cell21"></td>
            <td class="cell board-top" id="cell22"></td>
            <td class="cell board-top" id="cell23"></td>
            <td class="cell board-top" id="cell24"></td>
            <td class="cell board-top" id="cell25"></td>
            <td class="cell board-top" id="cell26"></td>
            <td class="cell board-top" id="cell27"></td>
            <td class="cell board-top" id="cell28"></td>
            <td class="cell board-top" id="cell29"></td>
            <td class="cell board-corner" id="cell30"></td>
        </tr><tr>
            <td class="cell board-left" id="cell19"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell31"></td>
        </tr><tr>
            <td class="cell board-left" id="cell18"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell32"></td>
        </tr><tr>
            <td class="cell board-left" id="cell17"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell33"></td>
        </tr><tr>
            <td class="cell board-left" id="cell16"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell34"></td>
        </tr><tr>
            <td class="cell board-left" id="cell15"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell35"></td>
        </tr><tr>
            <td class="cell board-left" id="cell14"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell36"></td>
        </tr><tr>
            <td class="cell board-left" id="cell13"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell37"></td>
        </tr><tr>
            <td class="cell board-left" id="cell12"></td>
            <td colspan="9" class="board-center"></td>
            <td class="cell board-right" id="cell38"></td>
        </tr><tr>
            <td class="cell board-left" id="cell11"></td>
            <td colspan="9" class="board-center">
                <div id="jail"></div>
            </td>
            <td class="cell board-right" id="cell39"></td>
        </tr><tr>
            <td class="cell board-corner" id="cell10"></td>
            <td class="cell board-bottom" id="cell9"></td>
            <td class="cell board-bottom" id="cell8"></td>
            <td class="cell board-bottom" id="cell7"></td>
            <td class="cell board-bottom" id="cell6"></td>
            <td class="cell board-bottom" id="cell5"></td>
            <td class="cell board-bottom" id="cell4"></td>
            <td class="cell board-bottom" id="cell3"></td>
            <td class="cell board-bottom" id="cell2"></td>
            <td class="cell board-bottom" id="cell1"></td>
            <td class="cell board-corner" id="cell0"></td>
        </tr>
    </table>

    <div id="moneybarwrap">
        <div id="moneybar">
            <table>
                <tr id="moneybarrow0" class="money-bar-row">

                    <td class="moneybararrowcell"><img src="images/arrow.png" id="p0arrow" class="money-bar-arrow" alt=">" /></td>
                    <td id="p0moneybar" class="moneybarcell">
                        <div><span id="p0moneyname" >Player 0</span>:</div>
                        <div>$<span id="p0money">1500</span></div>
                    </td>
                </tr>
                <tr id="moneybarrow1" class="money-bar-row">
                    <td class="moneybararrowcell"><img src="images/arrow.png" id="p1arrow" class="money-bar-arrow" alt=">"/></td>
                    <td id="p1moneybar" class="moneybarcell">
                        <div><span id="p1moneyname" >Player 1</span>:</div>
                        <div>$<span id="p1money">1500</span></div>
                    </td>
                </tr>
                <tr id="moneybarrow2" class="money-bar-row">
                    <td class="moneybararrowcell"><img src="images/arrow.png" id="p2arrow" class="money-bar-arrow" alt=">" /></td>
                    <td id="p2moneybar" class="moneybarcell">
                        <div><span id="p2moneyname" >Player 2</span>:</div>
                        <div>$<span id="p2money">1500</span></div>
                    </td>
                </tr>
                <tr id="moneybarrow3" class="money-bar-row">
                    <td class="moneybararrowcell"><img src="images/arrow.png" id="p3arrow" class="money-bar-arrow" alt=">" /></td>
                    <td id="p3moneybar" class="moneybarcell">
                        <div><span id="p3moneyname" >Player 3</span>:</div>
                        <div>$<span id="p3money">1500</span></div>
                    </td>
                </tr>
                <tr id="moneybarrow4" class="money-bar-row">
                    <td class="moneybararrowcell"><img src="images/arrow.png" id="p4arrow" class="money-bar-arrow" alt=">" /></td>
                    <td id="p4moneybar" class="moneybarcell">
                        <div><span id="p4moneyname" >Player 4</span>:</div>
                        <div>$<span id="p4money">1500</span></div>
                    </td>
                </tr>
                <tr id="moneybarrow5" class="money-bar-row">
                    <td class="moneybararrowcell"><img src="images/arrow.png" id="p5arrow" class="money-bar-arrow" alt=">" /></td>
                    <td id="p5moneybar" class="moneybarcell">
                        <div><span id="p5moneyname" >Player 5</span>:</div>
                        <div>$<span id="p5money">1500</span></div>
                    </td>
                </tr>
                <tr id="moneybarrow6" class="money-bar-row">
                    <td class="moneybararrowcell"><img src="images/arrow.png" id="p6arrow" class="money-bar-arrow" alt=">" /></td>
                    <td id="p6moneybar" class="moneybarcell">
                        <div><span id="p6moneyname" >Player 6</span>:</div>
                        <div>$<span id="p6money">1500</span></div>
                    </td>
                </tr>
                <tr id="moneybarrow7" class="money-bar-row">
                    <td class="moneybararrowcell"><img src="images/arrow.png" id="p7arrow" class="money-bar-arrow" alt=">" /></td>
                    <td id="p7moneybar" class="moneybarcell">
                        <div><span id="p7moneyname" >Player 7</span>:</div>
                        <div>$<span id="p7money">1500</span></div>
                    </td>
                </tr>
                <tr id="moneybarrow8">
                    <td style="border: none;" class="moneybararrowcell">&nbsp;</td>
                    <td style="border: none;">
                        <input type="button" id="viewstats" value="View stats" title="View a pop-up window that shows a list of each player's properties." />
                    </td>
                    <td class="moneybararrowcell">
                     
                    <div>
                        <input type="button" id="btnSave" onclick="SaveGame();" value="Save Current Game" class="btn btn-default" />
                    </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="setup">
        
        <div style="margin-bottom: 20px;margin-top:100px;">
            
            Select number of players.
            <select id="playernumber" title="Select the number of players for the game.">
                <option>2</option>
                <option>3</option>
                <option selected="selected">4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>

        <div id="player-wrappers">
        
        </div>

        <div style="margin: 20px 0px;">
            <div>
                <ul style="list-style-type:none;" id="savedGames" class="table">
    
                </ul>
            </div>
            <input type="button" value="Start Game" onclick="game_ns.setup();" title="Begin playing." />
        </div>

        <div id="noF5">Note: Refreshing this page or navigating away from it may end your game without warning.</div>
    </div>

    <div id="control">
        <table>
            <tr>
                <td style="text-align: left; vertical-align: top; border: none;">
                    <div id="menu">
                        <table id="menutable" cellspacing="0">
                            <tr>
                                <td class="menu-item" id="buy-menu-item">

                                    <a href="javascript:void(0);" title="View alerts and buy the property you landed on.">Buy</a>
                                </td>
                                <td class="menu-item" id="manage-menu-item">

                                    <a href="javascript:void(0);" title="View, mortgage, and improve your property. ">Manage</a>
                                </td>
                                <td class="menu-item" id="trade-menu-item">

                                    <a href="javascript:void(0);" title="Exchange property with other players.">Trade</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div id="buy">
                        <div id="alert"></div>
                        <div id="landed"></div>
                    </div>

                    <div id="manage">
                        <div id="option">
                            <div id="buildings" title="Available buildings"></div>
                            <input type="button" value="Buy house" id="buyhousebutton"/>
                            <input type="button" value="Mortgage" id="mortgagebutton" />
                            <input type="button" value="Sell house" id="sellhousebutton"/>
                        </div>
                        <div id="owned"></div>
                    </div>
                </td>
                <td style="vertical-align: top; border: none;">
                    <div id="quickstats" style="">
                            <div><span id="pname" >Player 1</span>:</div>
                            <div><span id="pmoney">$1500</span></div>
                    </div>
                    <div>
                        <div id="die0" title="Die" class="die die-no-img"></div>
                        <div id="die1" title="Die" class="die die-no-img"></div>
                    </div>

                </td>
            </tr><tr>
                <td colspan="2" style="border: none">
                    <div style="padding-top: 8px;">
                        <input type="button" id="nextbutton" title="Roll the dice and move your token accordingly." value="Roll Dice"/>
                        <input type="button" id="resignbutton" title="If you cannot pay your debt then you must resign from the game." value="Resign" onclick="game.resign();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="trade">
        <table style="border-spacing: 3px;">
            <tr>
                <td class="trade-cell">
                    <div id="trade-leftp-name"></div>
                </td>
                <td class="trade-cell">
                    <div id="trade-rightp-name"></div>
                </td>
            </tr>
            <tr>
                <td class="trade-cell">
                    $&nbsp;<input id="trade-leftp-money" value="0" title="Enter amount to exchange with the other player." />
                </td>
                <td class="trade-cell">
                    $&nbsp;<input id="trade-rightp-money" value="0" title="Enter amount to exchange with the other player." />
                </td>
            </tr>
            <tr>
                <td id="trade-leftp-property" class="trade-cell"></td>
                <td id="trade-rightp-property" class="trade-cell"></td>
            </tr>
            <tr>
                <td colspan="2" class="trade-cell">
                    <input type="button" id="proposetradebutton" value="Propose Trade" onclick="game.proposeTrade();" title="Exchange the money and properties that are checked above." />
                    <input type="button" id="canceltradebutton" value="Cancel Trade" onclick='game.cancelTrade();' title="Cancel the trade." />
                    <input type="button" id="accepttradebutton" value="Accept Trade" onclick="game.acceptTrade();" title="Accept the proposed trade." />
                    <input type="button" id="rejecttradebutton" value="Reject Trade" onclick='game.cancelTrade();' title="Reject the proposed trade." />
                </td>
            </tr>
        </table>
    </div>
